{% extends './main.html'%}
{% block CSS%}
<style>
    .status-label {
        margin-top: 10px;
        font-weight: bold;
    }
</style>
{% end %}

{% block Body %}
<br>
<div class="row">
    <div class="col-md-12">
        <h2>服务器状态:</h2>
        <br>
        <div class="row">
            <div class="col-md-6">
                <img class="status-img" src="/admin/status?monitor_type=cpu&count=10&_t=1" id="cpu"/>
                <div class="text-center status-label">CPU 负载状态</div>
            </div>
            <div class="col-md-6">
                <img class="status-img" src="/admin/status?monitor_type=mem&count=10&_t=1" id="mem"/>
                <div class="text-center status-label">Mem 剩余容量</div>
            </div>
        </div>
    </div>
</div>

{% end %}

{% block JS %}
<script>
    /* 更改 img URL */
    function flush_status_img() {
        console.log('reflush');
        $('.status-img').each(function () {
            var current_url = $(this).attr('src');
            $(this).attr('src',current_url + '0')
        })
    }

    /* 定时60s更新一次 */
    $(function () {
        $('#index').addClass('active');
        setInterval('flush_status_img();',60000)
    });
</script>
{% end %}