<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>blog.prozhi.com</title>
	<script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css')}}">-->
	<style>
		body {
			background-color: #f1f1f1;
		}

		.body {
			margin-top: 50px;
			padding-bottom: 70px;
		}

		.right-menu {
			height: 100%;
		}
		.right-menu > .menu-item {
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
			margin-left: -20px;
			padding-left: 20px;
			color: #343434;
			background-image: linear-gradient(to right,#f1f1f1 0,#fff 5%,#f1f1f1 90%);
		}
		.right-menu > .active {
			color: #1E9FFF;
		}
		.right-menu > div {
			margin: 5px;
		}
		.right-menu > .content {
			height: 100px;
			font-weight: 400;
			line-height: 26px;
			margin-left: -20px;
			padding-left: 20px;
		}
	</style>
	{% block CSS %} {% end %}
</head>
<body>
    <!--导航栏-->
    <!--使用navbar-fixed-top固定到顶部-->
    <nav class="nav navbar-default navbar-fixed-top" role="navigation">
        <!--使用流布局-->
        <div class="container">
            <!--指定logo位置及图片-->
            <div class="navbar-header">
                <a href="/index" class="navbar-brand">YangBlog</a>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <!--菜单栏-->
                <!--使用位置来指定放在那里-->
                <ul class="nav navbar-nav navbar-right">
                    <!--超链接-->
					<form class="navbar-form navbar-left" action="/search" method="GET">
						<div class="form-group">
						  <input type="text" class="form-control" name="search" placeholder="搜索标题">
						</div>
						<button type="submit" class="btn btn-default">搜索</button>
					</form>
		  			<li><a href="/about">关于我</a></li>
                </ul>
            </div>
        </div>
    </nav>

	<div class="container body">
		<div class="row content">
			<div class="col-md-10 body-data">
				{% block Body %} {% end %}
			</div>
			<div class="col-md-2">
				<div class="row right-menu">
					<div class="col-md-12 menu-item time"><h5></h5></div>
					<div class="col-md-12 menu-item active">友情链接</div>
					<div class="col-md-12 content">
						<ul>
							<li><a href="http://www.baidu.com">百度</a></li>
							<li><a href="http://www.hao123.com">Hao123</a></li>
						</ul>
					</div>
					<div class="col-md-12 menu-item">什么都没有</div>
					<div class="col-md-12 content"><a href="http://www.baidu.com">百度</a></div>
					<div class="col-md-12 menu-item">Tag:</div>
					<div class="col-md-12 content"><a href="http://www.baidu.com">百度</a></div>
					<div class="col-md-12 menu-item">最后更新</div>
					<div class="col-md-12 content"><a href="http://www.baidu.com">百度</a></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center navbar-fixed-bottom panel-footer">©2017 prozhi.com 京ICP证030173号  京公网安备11000002000001号</div>
			</div>
		</div>
	</div>


	<script>
		/* Ajax 初始化请求操作*/
		$(function () {
			$.ajaxSetup({
				beforeSend: function (xhr, settings) {
					xhr.setRequestHeader('X-CSRFtoken', $.cookie('_xsrf'));
				}
			});
		});

		/* 获取时间 */
		function get_ctime() {
			var data = new Date();
			var ch = data.getHours();
			var cM = data.getMinutes();
			var ctime_m = ch + ':' + cM;
			var ctime = ch + ' ' + cM;
//			var cy = data.getFullYear();
			var cm = data.getMonth() + 1;
			var cd = data.getDate();
			var cj = data.getDay();
			var cdata = '周' + cj + ' ' + cm + '月' + cd + '日';
			if($('.time>h5').text().indexOf(":") > 0 ){
				$('.time>h5').text(ctime + ' | ' + cdata);
			}else{
				$('.time>h5').text(ctime_m + ' | ' + cdata);
			}
		}

		/* 定时更新时间 */
		$(function () {
			get_ctime();
			setInterval('get_ctime()',1000)
		});

		document.addEventListener("visibilitychange", function () {
			if (document.hidden) {
				$('title').text('blog.prozhi.com');
			} else  {
			   	$('title').text('欢迎回来ヽ(✿ﾟ▽ﾟ)ノ');
				setTimeout("$('title').text('blog.prozhi.com');",5000);
			}
		}, false);
    </script>
	{% block JS %} {% end %}
</body>
</html>
