{% extends '../master/layout.html'%}
{% block CSS%}
<style>
    .article-body {
        margin: 20px;
        display: block;
        width: 960px;
        text-align: center;
    }
    .clear {
        display: inline-block;
        clear: both;
    }
</style>
{% end %}

{% block Body %}
<div class="row">
    <div class="article-body">
        <div id="fof" class="clear">
            <div class="hgroup clear">
                <img src="/static/img/500.png" />
                <h2>Error ! <span>Server Error!!</span></h2>
            </div>
            <p>服务器开小差了</p>
            <p><a href="/index">« 返回主页</a></p>
        </div>
    </div>
</div>
{% end %}

{% block JS %}
<script>

</script>
{% end %}
