{% extends '../master/layout.html'%}
{% block CSS%}
<style>
    .article-body {
        margin: 20px;
    }
    .post {
        margin-bottom: 10px;
    }
    .p-type {
        margin: 0;!important;
        padding: 0;!important;
    }
    .pg-count {
        text-align: center;
    }
   .pg-count .page {
        padding: 5px;
    }
</style>
{% end %}

{% block Body %}
<div class="row">
    <div class="article-body">
    <article class="post" id="article-{{article_data['id']}}">
		<div class="post-header">
			<i class="p-type">YangEver</i>
			<h1 class="title">{{article_data['title']}}</h1>
		</div>
		<div class="post-meta">
			{{article_data['article_type']}} | {{article_data['created_date']}} | {{article_data['read_count']}} views
		</div>
		<div id="entry-single" class="entry">
            {{article_data['content']}}
			<p class="announce"><span><strong>声明:</strong></span> 除非注明，<a href="https://zww.me/">ZWWoOoOo</a>文章均为原创，转载请以链接形式标明本文地址<br>本文地址: <a href="https://zww.me/26725.zsay">https://zww.me/26725.zsay</a></p>					</div>
				<div id="nav-below" class="cf">
			<div class="nav-previous"><a href="https://zww.me/26720.zsay" rel="prev">更新到 WordPress 4.9，都 4.9 了，时间飞逝...</a> </div>
			<div class="nav-next">(This is the latest article)</div>
		</div>
    </article>
    </div>
</div>
<div class="row pg-count">
    <div>

    </div>
</div>
{% end %}

{% block JS %}
<script>

</script>
{% end %}
